@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@inject IUmbracoContextAccessor UmbracoContextAccessor

@{
    var content = (ContentModels.GroupeDeLiens)Model.Content;
    var urlActif = UmbracoContextAccessor?.GetRequiredUmbracoContext()?.PublishedRequest?.PublishedContent?.Url();

    var lienPrincipalEstActif = content?.Lien != null && content.Lien.Url == urlActif;
}

@if (content?.Lien != null && !string.IsNullOrEmpty(content.Lien.Name))
{
    <h3>
        <a href="@content.Lien.Url" @(lienPrincipalEstActif ? "aria-current=\"page\"" : null)>
            @content.Lien.Name
        </a>
    </h3>
}

@if (content?.Liens != null && content.Liens.Any())
{
    <ul>
        @foreach (var lien in content.Liens)
        {
            var lienEstActif = lien.Url == urlActif;

            <li>
                <a href="@lien.Url" target="@lien.Target" @(lienEstActif ? "aria-current=\"page\"" : null)>
                    @lien.Name
                </a>
            </li>
        }
    </ul>
}
